<div class="background">
    <div class="header-style">
        Notes
    </div>
    <div *ngFor="let note of notesData" class="loop-wrapper">
        <div class="note-container">
            <div class="notes-message">
                {{note.text}}
            </div>
            <div class="bottom-note">
                <div>{{note.date}}</div> 
                <div class="bottom-note-options">
                    <div class="option-spacing">edit</div>
                    <div class="option-spacing red">delete</div>
                </div>
            </div>
        </div>
    </div>


    <div class="add-button-container">
        <div class="add-button">
            +
        </div>
        <div class="add-button-text">
            Add note
        </div>
    </div>

   


</div>

