<div class="menu-background" *ngIf = showMenu >
    <div class="menu-item">About us</div>
    <div class="menu-item">How it works</div>
    <div class="menu-item">Contact</div>
</div>
<div class="main-container">

    <div class="menu-container" (click)="showMenuClick()" *ngIf= !showMenu>
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
    </div>

    <div class="menu-container" (click)="showMenuClick()" *ngIf= showMenu>
        <div class="close"></div>
    </div>

    <div class="left-container-width">
        <img src="/assets/images/logo.svg" class="logo-style">
        <app-login-register></app-login-register>
    </div>
    <div class="right-container-width">
        <img src="/assets/images/backimage_wide.svg" class="backimage-style">

        <div class="motto-container">
            <div class="motto-top">
                Your contacts
            </div>
            <div class="motto-bottom">
                in one place
            </div>
        </div>

        <div class="motto-container-mobile">
            <div class="motto-top-mobile">
                Your contacts
            </div>
            <div class="motto-bottom-mobile">
                in one place
            </div>
        </div>

    </div>
</div>