.open-container{
    background-color: #EEEFF4 ;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
}

.close-container{
    transform: rotate(180deg);
    background-color: #EEEFF4 ;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
}

.icon-size{
    width: 20px;
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

.alphabet-container{
    background-color: #EEEFF4 ;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter-style{
    color: #5A6593;
    font-weight: bold;
    font-size: 40px;
    font-family: Myriad Pro;
    margin: 5px;
}
.letter-style:hover{
    color: #E12929;
}

@media only screen and (max-width: 825px) {
    .main-container{
    display: none;
    }
}