.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.close-cross-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main-details-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact-details-wrapper{
    width:65%;
    margin: 1% 2.5% 0% 5%;
}

.notes-wrapper{
    width:35%;
    margin: 1% 5% 0% 2.5%;
}

.close {
    width: 42px;
    height: 42px;
    position: relative;
}
.close:after {
    content: '';
    height: 42px;
    border-left: 12px solid rgb(231, 44, 44);
    position: absolute;
    transform: rotate(45deg);
    left: 20px;
    border-radius: 6px;
}

.close:before {
    content: '';
    height: 42px;
    border-left: 12px solid rgb(231, 44, 44);
    position: absolute;
    transform: rotate(-45deg);
    left: 20px;
    border-radius: 6px;
}

.cross-wrapper{
    margin: 0% 7% 1%;
}

.mobile-close-container{
    display: none;
}

.icon-size-off{
    width: 45px;
    margin: 10px 25px;
    cursor: pointer;
} 

@media only screen and (max-width: 825px)  { 
    .notes-wrapper{
        display: none;
    }
    .contact-details-wrapper{
        width:100%;
    }
    .contact-details-wrapper{
        width: 100%;
        margin: 0% 8px 0% -8px;
    }

    .close-cross-container{
        display: none;
    }
    .mobile-close-container{
        display: flex;
        background-color: #c0c5d9;
        width: 100vw;
        margin: 0px -8px 0px -8px;
        right: 7%;
        justify-content: space-between;
        align-items: center;
    }
    .mobile-close-position{
        margin: 5%;
    } 
}
