<div class="main-container">
    <app-header></app-header>
    <div class="mobile-close-container">
        <div>
            <img src="../../../assets/images/notes icon.svg"  class="icon-size-off" />
        </div>
            <div class="close">
            </div>
    </div>
    <div class="contact-details-position">
        <div class="close-container">
            <div class="close">
            </div>
        </div>
        
        <div class="contact-wide">
            <app-contact-details></app-contact-details>
        </div>
        <div class="notes-wide">
            <app-notes></app-notes>
        </div>
    </div>
</div>

