<app-header></app-header>

<div class="main-container">
    <div class="close-cross-container" *ngIf="!deleted">
        <div class="cross-wrapper">
            <a [routerLink]="['/dashboard']">
                <div class="close">
                </div>
            </a>
        </div>
    </div>

    <div class="mobile-close-container" *ngIf="!deleted">
        <div [routerLink]= "['/user', userID ,'details', 'notes']">
            <img src="../../../assets/images/notes icon.svg"  class="icon-size-off" />
        </div>
        <a [routerLink]="['/dashboard']" class="mobile-close-position">
            <div class="close">
            </div>
            </a>
    </div>

    <div class="main-details-container" *ngIf="!deleted">
        <div class="contact-details-wrapper">
            <app-contact-details></app-contact-details>
        </div>

        <div class="notes-wrapper">
            <app-notes></app-notes>
        </div>
    </div>
    <div class="deleted-style" *ngIf="deleted">
        Contact deleted !
    </div>
</div>