<div class="main-container" *ngIf="!submited">
    <div class="close-cross-container">
        <div class="cross-wrapper">
            <a [routerLink]="['/dashboard']">
                <div class="close">
                </div>
            </a>
        </div>
    </div>

    <div class="mobile-close-container">
        <a [routerLink]="['/dashboard']" class="mobile-close-position">
            <div class="close">
            </div>
            </a>
    </div>
</div>
<form  (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" *ngIf="!submited">
<div class="inputs-holder">
    <div class="line-wrapper">
        <div class="width-50">
            <div class="label-style">
                Vorname: <span *ngIf="!vorname.valid && vorname.touched" class="alert-style">   Field required</span>
            </div>
            
            <input type="text" name="vorname" ngModel required #vorname="ngModel">
        </div>
        <div class="width-50">
            <div class="label-style">
                Name: <span *ngIf="!name.valid && name.touched" class="alert-style">   Field required</span>
            </div>
                <input type="text" name="name" ngModel required #name="ngModel">
        </div>
    </div>
    <div class="line-wrapper">
        <div class="width-100">
            <div class="label-style">
                Company:
            </div>
                <input type="text" name="company" ngModel>
        </div>
    </div>
    <div class="line-wrapper">
        <div class="width-50">
            <div class="label-style">
                Address:
            </div>
            <input type="text" name="address" ngModel>
        </div>
        <div class="width-50">
            <div class="label-style">
                Email:
            </div>
                <input type="email" name="email" ngModel >
        </div>
    </div>
    <div class="line-wrapper">
        <div class="width-33">
            <div class="label-style">
                Phone:
            </div>
            <input type="number" name="phone" ngModel>
        </div>
        <div class="width-33">
            <div class="label-style">
                Mobile:
            </div>
                <input type="number" name="mobile" ngModel>
        </div>
        <div class="width-33">
            <div class="label-style">
                Fax:
            </div>
                <input type="number" name="fax" ngModel>
        </div>
    </div>
    <div class="line-wrapper">
        <div class="width-100">
            <div class="label-style">
                Other:
            </div>
                <input type="text" name="other" ngModel>
        </div>
    </div>

    <div class="line-wrapper move-left">
        <div class="width-33">
            <div class="label-style">
                    Select group:
                </div>
            <div class="select-style"> 
                <select id="search" name="group_select" ngModel> 
                <option [value]="group.group_name" *ngFor="let group of groupList" >{{group.group_name}}</option>
                </select> 
            </div>
        </div>
    </div>
</div>
<div class="options-panel">
    <button  type="submit" [disabled]="!contactForm.valid">
        OK
    </button>
    <button  [routerLink]="['/dashboard']">
        Cancel
    </button>
</div>
</form>


<div class="submited-style" *ngIf="submited">
Contact submited !
</div>