.closed-group{
    width: 85px;
    height: 85px;
    background-color: #48B3DA;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #48B3DA;
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
    transition: 0.25s;
}

.closed-group:hover{
    background-color: rgb(112, 202, 234);
}

.icon-size{
    width: 50%;
}

.open-group{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    position: relative;
    z-index: 1;
}

.group-icon-holder{
    background-color: #48B3DA;
    min-width: 85px;
    border: 1px solid #48B3DA;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s;
}

.group-icon-holder:hover{
    background-color: rgb(112, 202, 234);
}

.groups-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C5C5C5;
}


.group-items-holder{
    display: flex;
    flex-direction: column;
}

.group-item{
    color: #4E587F;
    font-size: 20px;
    font-family: Myriad Pro;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #C5C5C5;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -1px;
    background-color: white;
}

.group-item-selected{
    font-size: 22px;
    font-weight: 900;
    color: #4E587F;
    font-family: Myriad Pro;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #C5C5C5;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: -1px;
    background-color: white;
}


.edit-option{
    margin: 15px 15px;
    cursor: pointer;
}

.group-item-add-button{
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #C5C5C5;
    background-color: white;
    margin-left: -1px;
}

.gropu-gear-icon{
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
}

.group-name{
    margin: 15px 25px;
    cursor: pointer;
}

.group-name-selected{
    color: salmon;
    font-weight: 900;
}



.group-items-holder > .group-item:first-of-type{
    border-top: 0px solid #C5C5C5;

}



.add-button{
    background-color: #48B3DA;
    width: 40px;
    height: 40px;
    border: 1px solid #48B3DA;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25pt;
    font-weight: 900;
    color: white;
    -webkit-box-shadow: 5px 5px 5px 0px rgb(231, 230, 230);
    -moz-box-shadow: 5px 5px 5px 0px rgb(231, 230, 230);
    box-shadow: 5px 5px 5px 0px rgb(231, 230, 230);
    cursor: pointer;
}

.add-button:hover{
    background-color:  #FFBB46;
    border: 1px solid  #FFBB46;
    transition: 0.25s;
}

.add-button-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    min-width: 100px;
}

.add-button-text{
    font-family: Myriad Pro;
    font-size: 10pt;
    color: #4E587F;
    margin-top: 10%;
}

@media only screen and (max-width: 825px)  { 
    .closed-group{
        width: 65px;
        height: 65px;

    }

    .group-icon-holder{
        width: 65px;
    }

    .group-item{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
    }
}

