<div class="main-container">
    <div class="group-container">
        Email change
    </div>
    <div class="width-input">
        <div class="label-style">
            Old email:
        </div>
        <input type="text">
        <div class="label-style">
            New email:
        </div>
        <input type="text">
        <div class="label-style">
            Confirm with password:
        </div>
        <input type="text">
        <div class="button-possition">
            <button>Change</button>
        </div>

    </div>

    <div class="group-container">
        Password change
    </div>
    <div class="width-input">
        <div class="label-style">
            Old password:
        </div>
        <input type="text">
        <div class="label-style">
            New password:
        </div>
        <input type="text">
        <div class="label-style">
            Confirm new password:
        </div>
        <input type="text">
        <div class="button-possition">
            <button>Change</button>
        </div>

    </div>
    <div class="group-container">
        Nick change
    </div>
    <div class="width-input">
        <div class="label-style">
            Old nick:
        </div>
        <input type="text">
        <div class="label-style">
            New nick:
        </div>
        <input type="text">
        <div class="label-style">
            Confirm with password:
        </div>
        <input type="text">
        <div class="button-possition">
            <button>Change</button>
        </div>

    </div>
</div>