input{
    width:  80%;
    padding: 15px;
    border-radius: 6px ;
    border: 1px solid #d4d4d4;
    background-color: #f6f4f4;
    font-size: 14pt;
}

.modal-container{
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 15px;
    font-size: 20px;
    font-family: Myriad Pro;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    align-items: center;
    left: calc(50vw - 220px);
    top: calc(50vh - 100px);
    border: 1px solid rgb(176, 176, 176);

}

.label-style{
    color: rgb(61, 61, 61);
    margin-top: 5px;
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.options-style{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-style{
    background-color:#4E587F;
    font-size: 14pt;
    color: #ffffff;
    border-radius: 6px ;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 10px 6px 13px 0px rgba(222,222,222,1);
    -moz-box-shadow: 10px 6px 13px 0px rgba(222,222,222,1);
    box-shadow: 10px 6px 13px 0px rgba(222,222,222,1);
    min-width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    transition: 0.25s;
}


.button-style:hover{
    background-color: #7d8fd7;
}

@media only screen and (max-width: 825px) and (orientation: portrait) {
    .modal-container{
        width: 300px;
        left: calc(50vw - 165px);
        top: calc(50vh - 125px);
    }

    .button-style{
        border-radius: 6px ;
        padding: 8px 20px;
        margin: 15px;
    }
}


/* display: none;
flex-direction: column;
background-color: rgb(255, 255, 255);
width: 400px;
margin: 15px;
font-size: 20px;
font-family: Myriad Pro;
position: fixed;
z-index: 1;
padding-top: 20px;
align-items: center;
left: calc(50vw - 220px);
top: calc(50vh - 100px);
border: 1px solid rgb(176, 176, 176); */