<div class="desktop">
        <div class="search-label">Search</div>
        <div><input type="text" id="search" placeholder="Start typing"></div>
        <div class="select-style"> 
            <select id="search">
              <option value="volvo">Order by</option>
              <option value="volvo">Company</option>
              <option value="volvo">Name</option>
              <option value="volvo">Group</option>
            </select> 
        </div>
</div>
<app-alphabetic-panel></app-alphabetic-panel>
