.desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 3vh;
    margin-top: 3vh;
    justify-content: center;
    border-bottom: 1px solid rgb(227, 227, 227);

}

.search-label{
    font-size: 20px;
    font-family: Myriad Pro;
    color: #3E3E3E;
    margin-right: 4vw;
}

input{
    width:50vw;
    border: 1px solid #C3C7D4;
    border-radius: 26px;
    padding: 15px;
    font-size: 14pt;
}

.select-style{
    margin-left: 4vw;
}

select{
    border: 1px solid #C3C7D4;
    border-radius: 15px;
    padding: 15px;
    font-size: 10pt;
    color: #54557B;
}


@media only screen and (max-width: 825px) {
    .search-label{
        font-size: 17px;
        font-family: Myriad Pro;
        color: #3E3E3E;
        margin-right: 2vw;
    
    }

    input{
        width:40vw;
        border: 1px solid #C3C7D4;
        border-radius: 20px;
        padding: 15px;
        font-size: 14pt;
    }

}