.add-note-window{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea{
    width: calc(100% - 8px);
    height: 150px;
    resize: none;
    margin-top: 4%;
    border: 1px solid rgb(173, 196, 219);
    border-radius: 12px;
    font-size:16px;
}

.textarea-container{
    width: 100%;
}
.add-note-options{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-family: Myriad Pro;
    font-size: 14pt;
    color: #4E587F;
    font-weight: bold;
}

.add-note-options-spacing{
    margin: 2%;
    cursor: pointer;
}

.add-note-options-spacing:hover{
    color: #48B3DA;
}