.main-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result-container{
    display: flex; 
    min-width: 70%; 
    background-color: #CEDFF2;
    align-items: center;
    justify-content: space-evenly;
    padding: 22px;
    margin: 1% 0%;
    cursor: pointer;
    font-size: 27px;
    font-family: Myriad Pro;
    color: #3E3E3E;
    border: 1px solid rgba(215, 212, 212,0.5);
    border-radius: 18px;
    -webkit-box-shadow: 5px 5px 5px 0px rgb(231, 230, 230);
    -moz-box-shadow: 5px 5px 5px 0px rgb(231, 230, 230);
    box-shadow: 5px 5px 5px 0px rgb(231, 230, 230);
}


.over{
    height: 10%;
    width: 65vw;
    position: absolute;
    left: 15%;
}
.result-container:hover{
    transition: 0.5s;
    background-color: #4E587F;
    color: white;
}

.result-container:hover >.option-bar>.circle{
    background-color:  white;
}

.bold-item{
    font-weight: bold;
    color: white;
    font-size: 23px;
}

.circle{
    min-width: 10px;
    min-height: 10px;
    background-color:  #4E587F;
    border-radius: 50px;
    margin: 7px 0px;
}

.option-bar{
    margin-right: -5%;
}

.width-constant-wide{
    width:20%;
}

.width-constant-middle{
    width:15%;
}

.width-constant-narrow{
    width:10%;
    
}

.options-container{
    width:82%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.show-in-mobile{
    display:none;
}
.delete:hover{
    color: rgb(231, 44, 44);
}


@media only screen and (max-width: 825px)  { 
    .result-container{
        min-width: 75vw;
        padding: 15px;
        margin: 2.5% 0%;
        font-size: 17px;
        border-radius: 18px;
    }

    .bold-item{
        font-weight: bold;
        color: white;
        font-size: 17px;
    }

    .circle{
        min-width: 7px;
        min-height: 7px;
        background-color:  #4E587F;
        border-radius: 50px;
        margin: 7px 0px;
    }
    .option-bar{
        margin-right: -10%;
    }

    .hide-in-mobile{
        display: none;
    }

    .show-in-mobile{
        display: flex;
    }

    .icons-size_off{
        width: 35px;
        margin-left: 8px;
        display:flex;
    }

    .icons-size_on{
        width: 35px;
        margin-left: 8px;
        display: none;
    }

    .result-container:hover > .show-in-mobile >.icons-size_on{
        display: flex;
    }
    .result-container:hover > .show-in-mobile >.icons-size_off{
        display: none;
    }

    .over{
        height: 10%;
        width: 55vw;
        left: 10%;
    }

    .options-container{
        width:68%;
    }


}

