<div class="background">
    <div class="container-style">
        <div class="wrapper-style">
            <div class="width-50">
                <div class="label-style">
                    vorname:
                </div>
                <div class="big-bold-letters">
                    {{contactData.vorname}}
                </div>
            </div>
            <div class="width-50">
                <div class="label-style">
                    name:
                </div>
                <div class="big-bold-letters">
                    {{contactData.name}}
                </div>
            </div>
        </div>

        <div class="wrapper-style">
            <div class="width-100">
                <div class="label-style">
                    company:
                </div>
                <div class="standard-font-letters">
                    {{contactData.company}}
                </div>
            </div>
        </div>
        <div class="wrapper-style">
            <div class="width-50">
                <div class="label-style">
                    address :
                </div>
                <div class="standard-font-letters">
                    {{contactData.address}}
                </div>
            </div>
            <div class="width-50">
                <div class="label-style">
                    email:
                </div>
                <div class="standard-font-letters">
                    {{contactData.email}}
                </div>
            </div>
        </div>
        <div class="wrapper-style">
            <div class="width-33">
                <div class="label-style">
                    phone:
                </div>
                <div class="standard-font-letters">
                    {{contactData.phone}}
                </div>
            </div>
            <div class="width-33">
                <div class="label-style">
                    mobile:
                </div>
                <div class="standard-font-letters">
                    {{contactData.mobile}}
                </div>
            </div>
            <div class="width-33">
                <div class="label-style">
                    fax:
                </div>
                <div class="standard-font-letters">
                    fax: {{contactData.fax}}
                </div>
            </div>

        </div>
        <div class="wrapper-style">
            <div class="width-100">
                <div class="label-style">
                    other:
                </div>
                <div class="standard-font-letters">
                    {{contactData.other}}
                </div>
            </div>
        </div>
        <div class="wrapper-style">
            <div class="width-100">
                <div class="label-style">
                    group:
                </div>
                <div class="standard-font-letters">
                    {{contactData.group}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="options-panel">
    <div class="option-panel-item">
        Share
    </div>
    <div class="option-panel-item" [routerLink]="['/edit', contactData.contact_id]">
        Edit
    </div>
    <div class="option-panel-item red" (click)="deleteClick('contact')">
        Delete
    </div>
</div>


<app-modal #modalBox></app-modal>